/** @format */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  height: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin: 1rem;
  margin-top: 0.2rem;
  margin-left: 9.8rem;
}

.header-container img {
  width: 12.5rem;
}

.header-container .headerIntro {
  font: 1rem sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
}

.header-container .headerIntro a {
  margin-top: 5;
  color: #006bcd;
  text-decoration: none;
}

.header-container .headerIntro a:hover {
  color: #00aaeb;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e2e2e2;
  margin-top: 26.5;
  margin-bottom: 0;
}

.nav-container .nav2 {
  bottom: 3;
}

.nav-container li {
  position: relative;
  width: 150;
  height: 45;
  text-align: center;
  padding: 14;
  text-align: center;
}

.nav-container a {
  text-decoration: none;
  font-size: 15;
  color: rgba(12, 11, 11, 0.795);
}

.nav-container li:hover {
  border-top: 2.5px solid #00aaeb;
}

main {
  height: auto;
  background-color: #f1f1f1;
}

.notice-container {
  height: 75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 13 220;
  margin: 0;
  gap: 20px;
}

.btn-1 {
  width: 21.8rem;
  height: 3em;
  border-radius: 3px;
  background-color: #f57c31;
  color: white;
  text-align: center;
  padding: 10;
  -webkit-box-shadow: 0.5px 2px #cccbcb;
          box-shadow: 0.5px 2px #cccbcb;
  cursor: pointer;
}

.btn-1:hover {
  opacity: 0.7;
}

.btn-2 {
  width: 21.8rem;
  height: 3em;
  border-radius: 3px;
  background-color: white;
  color: #006bcd;
  text-align: center;
  padding: 13;
  -webkit-box-shadow: 0.5px 2px #cccbcb;
          box-shadow: 0.5px 2px #cccbcb;
  cursor: pointer;
}

.btn-2:hover {
  opacity: 0.8;
  color: #00aaeb;
}

.noticebox {
  color: #006bcd;
  padding: 1;
  font-size: 14;
}

.noticebox div:hover {
  color: #00aaeb;
  cursor: pointer;
}

.section-container {
  position: relative;
  width: 1440;
  height: 380;
}

.section-img {
  position: absolute;
  right: -240;
}

.section-img2 {
  position: absolute;
  right: 535;
  top: 31;
}

.section-box {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 8px #cccbcb;
          box-shadow: 1px 1px 8px #cccbcb;
  height: 355;
  width: 600;
  left: 155;
  top: 14;
}

.section-menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-menubox .section-menu {
  background-color: white;
  border-top: 4.5px solid #00aaeb;
  text-align: center;
  width: 50%;
  height: 65;
}

.section-menubox .section-menu2 {
  background-color: #f0f0f096;
  text-align: center;
  width: 50%;
  height: 65;
}

.section-tag {
  position: absolute;
  color: #006bcd;
  font-weight: 350;
  font-size: 44;
  right: 205;
  top: 37;
}

.section-tag2 {
  position: absolute;
  color: #006bcd;
  font-size: 82;
  font-weight: bold;
  right: 285;
  top: 82;
}

.section-tag2-1 {
  position: absolute;
  color: #006bcd;
  font-size: 35;
  right: 160;
  top: 120;
}

.section-tag2-2 {
  position: absolute;
  color: #006bcd;
  right: 270;
  top: 95;
  font-weight: 350;
}
/*# sourceMappingURL=mynavi.css.map */