/** @format */
$primary-color: #f57c31;
$secondary-color: #f1f1f1;
$third-color: #006bcd;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  height: 50;
  display: flex;
  flex-direction: row;

  column-gap: 2rem;
  margin: 1rem;
  margin-top: 0.2rem;
  margin-left: 9.8rem;

  img {
    width: 12.5rem;
  }

  .headerIntro {
    font: 1rem sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;

    a {
      margin-top: 5;
      color: #006bcd;
      text-decoration: none;
    }

    a:hover {
      color: #00aaeb;
    }
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  justify-content: center;
  border: 1px solid #e2e2e2;
  margin-top: 26.5;
  margin-bottom: 0;
  .nav2 {
    bottom: 3;
  }

  li {
    position: relative;
    width: 150;
    height: 45;
    text-align: center;
    padding: 14;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: 15;
    color: rgba(12, 11, 11, 0.795);
  }

  li:hover {
    border-top: 2.5px solid #00aaeb;
  }
}

main {
  height: auto;
  background-color: $secondary-color;
}

.notice-container {
  height: 75;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 13 220;
  margin: 0;
  gap: 20px;
}

.btn-1 {
  width: 21.8rem;
  height: 3em;
  border-radius: 3px;
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 10;
  box-shadow: 0.5px 2px rgb(204, 203, 203);
  cursor: pointer;
}

.btn-1:hover {
  opacity: 0.7;
}

.btn-2 {
  width: 21.8rem;
  height: 3em;
  border-radius: 3px;
  background-color: white;
  color: $third-color;
  text-align: center;
  padding: 13;
  box-shadow: 0.5px 2px rgb(204, 203, 203);
  cursor: pointer;
}

.btn-2:hover {
  opacity: 0.8;
  color: #00aaeb;
}

.noticebox {
  color: $third-color;
  padding: 1;
  font-size: 14;

  div:hover {
    color: #00aaeb;
    cursor: pointer;
  }
}

.section-container {
  position: relative;
  width: 1440;
  height: 380;
}

.section-img {
  position: absolute;
  right: -240;
}

.section-img2 {
  position: absolute;
  right: 535;
  top: 31;
}

.section-box {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(204, 203, 203);
  height: 355;
  width: 600;
  left: 155;
  top: 14;
}
.section-menubox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .section-menu {
    background-color: white;
    border-top: 4.5px solid #00aaeb;
    text-align: center;
    width: 50%;
    height: 65;
  }
  .section-menu2 {
    background-color: #f0f0f096;
    text-align: center;
    width: 50%;
    height: 65;
  }
}

.section-tag {
  position: absolute;
  color: #006bcd;
  font-weight: 350;
  font-size: 44;
  right: 205;
  top: 37;
}

.section-tag2 {
  position: absolute;
  color: #006bcd;
  font-size: 82;
  font-weight: bold;
  right: 285;
  top: 82;
}

.section-tag2-1 {
  position: absolute;
  color: #006bcd;
  font-size: 35;
  right: 160;
  top: 120;
}

.section-tag2-2 {
  position: absolute;
  color: #006bcd;
  right: 270;
  top: 95;
  font-weight: 350;
}
