/** @format */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

.header-container {
  height: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin: 1rem;
  margin-top: 0.2rem;
  margin-left: 9.8rem;
}

.header-container img {
  width: 12.5rem;
}

.header-container .headerIntro {
  font: 1rem sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
}

.header-container .headerIntro a {
  margin-top: 5;
  color: #006bcd;
  text-decoration: none;
}

.header-container .headerIntro a:hover {
  color: #00aaeb;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e2e2e2;
  margin-top: 26.5;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-container .nav2 {
  bottom: 3;
}

.nav-container li {
  position: relative;
  width: 140;
  height: 45;
  text-align: center;
  padding: 14;
  text-align: center;
}

.nav-container a {
  text-decoration: none;
  font-size: 15;
  color: rgba(12, 11, 11, 0.795);
}

.nav-container li:hover {
  border-top: 2.5px solid #00aaeb;
}

main {
  height: auto;
  background-color: #f1f1f1;
}

.notice-container {
  height: 75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 13 220;
  margin: 0;
  gap: 20px;
}

.btn-1 {
  width: 21.8rem;
  height: 3em;
  border-radius: 3px;
  background-color: #f57c31;
  color: white;
  text-align: center;
  padding: 10;
  -webkit-box-shadow: 0.5px 2px #cccbcb;
          box-shadow: 0.5px 2px #cccbcb;
  cursor: pointer;
}

.btn-1:hover {
  opacity: 0.7;
}

.btn-2 {
  width: 21.8rem;
  height: 3em;
  border-radius: 3px;
  background-color: white;
  color: #006bcd;
  text-align: center;
  padding: 13;
  -webkit-box-shadow: 0.5px 2px #cccbcb;
          box-shadow: 0.5px 2px #cccbcb;
  cursor: pointer;
}

.btn-2:hover {
  opacity: 0.8;
  color: #00aaeb;
}

.noticebox {
  color: #006bcd;
  padding: 1;
  font-size: 14;
}

.noticebox div:hover {
  color: #00aaeb;
  cursor: pointer;
}

.section-container {
  position: relative;
  width: 1440;
  height: 380;
}

.section-img {
  position: absolute;
  right: -1;
}

.section-img2 {
  position: absolute;
  right: 535;
  top: 31;
}

.section-btn {
  position: relative;
  width: 15%;
  height: 15%;
  padding: 13;
  border: 2px solid #006bcd;
  border-radius: 4px;
  background-color: #ffffed;
  right: 1330px;
  left: 10px;
  font-size: 20px;
  text-align: center;
  color: #006bcd;
  cursor: pointer;
}

.section-box {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 8px #cccbcb;
          box-shadow: 1px 1px 8px #cccbcb;
  height: 355px;
  width: 600px;
  left: 155;
  top: 14;
}

.section-menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14;
}

.section-menubox .section-menu {
  background-color: white;
  border-top: 4.5px solid #00aaeb;
  text-align: center;
  width: 50%;
  height: 55;
  padding: 15;
  cursor: pointer;
}

.section-menubox .section-menu:hover {
  opacity: 0.7;
}

.section-menubox .section-menu2 {
  background-color: white;
  -webkit-box-shadow: 1px 0.5px 2px 1px #cccbcb;
          box-shadow: 1px 0.5px 2px 1px #cccbcb;
  text-align: center;
  width: 50%;
  height: 55;
  padding: 15;
  cursor: pointer;
}

.section-menubox .section-menu2:hover {
  opacity: 0.7;
}

.section-box-inner {
  height: 300;
  padding: 15;
}

.section-box-inner .section-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  width: 530;
}

.section-box-inner .box-number {
  font-size: 18;
  font-weight: bold;
  color: #006bcd;
}

.section-box-inner span {
  font-size: 19.5;
}

.section-box-inner div {
  font-size: 13.3;
}

.section-box-search input {
  background-color: #fcfafa;
  border: 1px solid #cccbcb;
  margin: 12px;
  width: 400;
  height: 50;
  border-radius: 2px;
}

.section-box-search input::-webkit-input-placeholder {
  padding: 3;
  font-size: 17;
  font-weight: 300;
  color: rgba(24, 24, 24, 0.952);
}

.section-box-search input:-ms-input-placeholder {
  padding: 3;
  font-size: 17;
  font-weight: 300;
  color: rgba(24, 24, 24, 0.952);
}

.section-box-search input::-ms-input-placeholder {
  padding: 3;
  font-size: 17;
  font-weight: 300;
  color: rgba(24, 24, 24, 0.952);
}

.section-box-search input::placeholder {
  padding: 3;
  font-size: 17;
  font-weight: 300;
  color: rgba(24, 24, 24, 0.952);
}

.section-box-search button {
  width: 120px;
  height: 47px;
  border-radius: 1px;
  background-color: #f57c31;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 15;
}

.section-box-form {
  padding: 10px;
}

.section-box-form select {
  background-color: #fcfafa;
  color: #5f5f5f;
  border: 1px solid #cccbcb;
  border-radius: 3px;
  width: 131;
  height: 50;
  font-size: 15;
  gap: 30px;
}

.section-box-form button {
  width: 120px;
  height: 47px;
  border-radius: 1px;
  background-color: #f57c31;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 15;
  margin-left: 10.5;
}

.section-checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0px 0px 8px 8px;
}

.section-checkbox .checkbox {
  font-size: 15px;
  font-weight: 400;
}

#checkbox-bottom {
  position: relative;
  bottom: 7;
  left: 10;
  font-size: 15;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #006bcd;
}

#checkbox-bottom:hover {
  color: #349eff;
}

.section-tag {
  position: absolute;
  color: #006bcd;
  font-weight: 350;
  font-size: 44;
  right: 205;
  top: 37;
}

.section-tag2 {
  position: absolute;
  color: #006bcd;
  font-size: 82;
  font-weight: bold;
  right: 285;
  top: 82;
}

.section-tag2-1 {
  position: absolute;
  color: #006bcd;
  font-size: 35;
  right: 160;
  top: 120;
}

.section-tag2-2 {
  position: absolute;
  color: #006bcd;
  right: 270;
  top: 95;
  font-weight: 350;
}

.section-btn {
  position: absolute;
  width: 13%;
  height: 13%;
  padding: 11;
  border: 2px solid #006bcd;
  border-radius: 4px;
  background-color: #ffffed;
  left: 980px;
  bottom: 155px;
  font-size: 21px;
  text-align: center;
  color: #006bcd;
  cursor: pointer;
}

.section-btn:hover {
  opacity: 0.7;
  color: #349eff;
}

.category {
  height: 140;
  width: 1440;
}

.category .category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 150px;
}

.category .category-container .category-1 {
  width: 250;
  height: 80;
  background-color: white;
  text-align: center;
  font-size: 15;
  padding: 20;
  color: #006bcd;
  font-weight: 700;
  cursor: pointer;
}

.category .category-container .category {
  width: 250;
  height: 80;
  background-color: white;
  text-align: center;
  font-size: 15;
  padding: 21;
  color: #006bcd;
  font-weight: 700;
  cursor: pointer;
}

.self-eval {
  width: 1420px;
  height: 400px;
}

.self-eval-container {
  position: relative;
  width: 1100;
  height: 235;
  left: 170;
  background-color: white;
  padding: 37;
  -webkit-box-shadow: 1px 1px 8px #cccbcb;
          box-shadow: 1px 1px 8px #cccbcb;
  border-radius: 2;
}

.self-eval-container .self-eval-title {
  font-size: 20;
  border-left: 2px solid #349eff;
}

.self-eval-container .self-eval-inner {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20;
}

.self-eval-container .self-eval-inner .self-eval-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.self-eval-container .self-eval-inner .self-eval-box1 .self-eval-label {
  border: 2px solid blue;
}
/*# sourceMappingURL=mynavi.css.map */